---
    interface Props{
        title : string;
        descrip:string;
        version:string;
        github:string;
        link:string;
        img:string;
        img2:string;
        img3:string;
        video:string;
    }

    const { title,descrip,version,github,link,img,img2,img3,video } = Astro.props
---
    <div id="proyect" class="mx-12 md:pt-16 items-center max-sm:pt-10 md:mx-24 max-sm:mx-6 max-sm:py-5 md:py-20 flex flex-col md:flex-row">
        <div class="flex flex-col w-2/4 max-md:w-full">
            <h1 class="text-3xl text-white font-bold max-md:text-start mb-1 ">{title}</h1>
            <p class="text-base text-gray-300 max-md:text-base">{descrip}</p>
            <p class="text-lg text-red-300 mt-2 max-md:text-base">Version {version}</p>
            <div class="flex gap-4 items-center mt-5">
                <a href={github}>
                    <img class="w-8 max-md:w-7" src="icons/github-142-svgrepo-com.svg" alt="github">
                </a>
                <a href={link}>
                    <img class="w-9 max-md:w-7" src="icons/link-alt-svgrepo-com.svg" alt="icons">    
                </a>
            </div>
        </div>
        <div class="flex flex-col w-2/4 text-black ml-10 max-md:mt-10 max-md:w-full max-md:ml-0 pb-5">
            <div class="swiper w-full h-max  mySwiper text-black shrink-0 max-md:w-full">
                <div class="swiper-wrapper">
                    <div class="swiper-slide bg-white"><img src={img} alt="img1"></div>
                    <div class="swiper-slide bg-white"><img src={img2} alt="igm1"></div>
                    <div class="swiper-slide  bg-white"><img src={img3} alt="igm1"></div>
                    <video class="swiper-slide" src={video} controls></video>
                </div>
                </div>
        </div>
    </div>

<script>
    import Swiper from 'swiper';
    import 'swiper/css';
    var swiper = new Swiper(".mySwiper", {
        navigation: {
        nextEl: ".swiper-button-next",
        prevEl: ".swiper-button-prev",
        },
        autoplay: {
            delay: 1000,
        },
    });
</script>